# Python Sessions with DEPI - Session 1

### Print a message onto the screen:

In [1]:
# Using double quotes
print("Hello World")

Hello World

In [3]:
# Using single quotes
print('Hello World')

Hello World

In [1]:
# Try printing your name
print ("Ahmed Ammar")

Ahmed Ammar

In [1]:
# What is the output?
print('let\'s start')

let's start

Single and duble quotes do the same job but in case you are printing a string with upstroph you should use the duble quotes like the code below

In [15]:
# Single quote inside double quotes
print("let's start")

let's start

If you want to print a long string (in multiple lines) you should use the triple quotes

In [17]:
# Multi-line string
print ('''
Hello World!
My name is Ahmed
I'm an student
''')

Hello World!
My name is Ahmed
I'm an student

In [19]:
# Try printing 1000
print(1000)

1000

In [21]:
print("1000")

1000

### Variables and Simple Data Types
Variables are containers for storing data values, Python has no command for declaring a variable, a variable is created the moment you first assign a value to it.

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [3]:
# Try printing "y"
print(y)

John

In [4]:
# Try printing x
print(x)

5

Variables do not need to be declared with any particular type (Dynamically Typed), and can even change type after they have been set.

In [5]:
# Guess the output
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [6]:
# Guess the output
y = 10
y = 20
y = 30
print(y)

30

### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

#### Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Legal variable names:
myvar="ahmed"
my_var="ahmed"
_my_var="ahmed"







#Illegal variable names:
2myvar="ahmed"
my-var="ahmed"

Avoiding Name Errors When Using Variables

You should write the variable name without any mistakes

In [4]:
# What is the output?
message = "Hello Python"
print(message)

Hello Python

In [ ]:
print(message ,"I'm developer", end=" ")
print("Ahmed Ammar")
print("hello")
# , end=" "=> get next print near the current print

Hello Python I'm developer Ahmed Ammar hello

In [12]:
5+10*17

175

### Data Types - Strings
A string is a series of characters. Anything inside quotes is considered a string in Python, and you can use single or double quotes around your strings

In [18]:
name = "Ali"

Changing Case in a String with Methods

In [20]:
# Try using .upper() and .lower() methods
print(name.upper())
print(name.lower())

ALI
ali

In [14]:
# Can we print 2 variables using 1 print statement?
first_name = "Mahmoud"
last_name = "Ali"
print(first_name,last_name)

Mahmoud Ali

To add a tab to your text, use the character combination \t as shown

In [ ]:
# What is the output?
print("\tPython")
# tab==4space

	Python

<code>\n</code> means new line

In [24]:
# What is the output?
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

String concatenation

In [25]:
# What is the output?
print('mahmoud'  + 'hassan')

mahmoudhassan

In [16]:
# What is the output?
print("10" + "1")

101

### Fstring

In [38]:
first_name = "mahmoud"
last_name = "hassan"

full_name=f"hi {first_name} {last_name} !!!"
print(full_name)
full_name2="hi "+first_name +" "+last_name +" !!!!"
print(full_name2)
full_name3="hi {} {} !!!!!".format(first_name,last_name)
print(full_name3)

hi mahmoud hassan !!!
hi mahmoud hassan !!!!
hi mahmoud hassan !!!!!

### Data Types - Numbers

#### Integers

In [18]:
number=100
num=20

#### Floats
Python calls any number with a decimal point a float

In [26]:
print("initial id "+ str(id(number)))
number+=0
print("id after initial id "+str(id(number)))
# str(id(variable))=>to print location of variable

initial id 140736782267992
id after initial id 140736782267992

In [42]:
# Some arithmatic operations applied on integers
print(2+3)
print(2*3)
print(2**3)
print(15/3)

5
6
8
5.0

In [43]:
# What is the output?
print((1+2)*4)

12

In [44]:
# What is the output?
print(100 + 0.5)

100.5

**Try It Yourself**
Write addition, subtraction, multiplication, and division operations that each result in the number 8. 
Be sure to enclose your operations in print() calls to see the results. You should create four lines that look like this: print(5+3)

In [45]:
print(5+3)
print(10-2)
print(2*4)
print(16/2)

8
8
8
8.0

When you divide any two numbers, even if they are integers that result in a
whole number, you’ll always get a float:
4/2 ⇒ 2.0

In [46]:
4/2

2.0

In [47]:
1 + 2.0

3.0

Multiple Assignment
You can assign values to more than one variable using just a single line. This can help shorten your programs and make them easier to read; you’ll use this technique most often when initializing a set of numbers. For example, here’s how you can initialize the variables x, y, and z

In [48]:
x = 10
y = 20
z = 30

In [51]:
# What is the output?
x, y, z = 0, 1, 2
print(z)

2

#### Constants
A constant is like a variable whose value stays the same throughout the life of a program. Python doesn’t have built-in constant types, but Python programmers use all capital letters to indicate a variable should be treated as a constant and never be changed:

In [53]:
# Create a constant using python programmers convention
MAX_CONNECTIONS=5000
print(MAX_CONNECTIONS)

5000

#### Comments

In [54]:
# Say hello to everyone.
print("Hello Python people!")

Hello Python people!

In [56]:
xc='''
My name is mahmoud ali
Age : 14
Address : Egypt 
'''
print(xc)

My name is mahmoud ali
Age : 14
Address : Egypt

In [ ]:
# What is the output?
print(10+10)
print("Ali "+str(10))

20
Ali 10
<class 'int'>

In [61]:
# What is the output?
name = "Ali"
num = 10.5
test = f"{name} {num}"
print(test)

Ali 10.5

In [64]:
user_age=input("plz enter ur age")
print(type(user_age))
user_age=int(user_age)
print(type(user_age))

<class 'str'>
<class 'int'>

In [66]:
hello='let\'s say hello'
print(hello)

let's say hello

In [35]:
5//2

2

#### List

In [1]:
# Create a list of names (strings)
name=["ali","mahmoud","seif","omar"]

# Create another list of strings and integers
my_list=["mahmoud",20,"ahmed","300"]

# Show both lists

print(name)
print(my_list)

['ali', 'mahmoud', 'seif', 'omar']
['mahmoud', 20, 'ahmed', '300']

#### Accessing Elements in a List
NOTE: Index Positions Start at 0, Not 1

In [2]:
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[3])

mohamed

In [3]:
# The last element in your list will have the index of -1
# What is the output?
print(names[-1])

mohamed

#### Changing, Adding, and Removing Elements

In [4]:
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names)

['mahmoud', 'ali', 'ahmed', 'mohamed']

In [6]:
# Modifying Elements in a List
names[0]="badr"
print(names)

['badr', 'ali', 'ahmed', 'mohamed']

In [ ]:
# Adding Elements to a List
names.append("body")
print(names)

['badr', 'ali', 'ahmed', 'mohamed', 'body', 'body', 'body']

In [12]:
# You can append (add) any items to your empty list like:
# What is the output?
t1 = ['a', 'b', 'c']


print(t1)

names.append(t1)
names.append('Ali')
names.append('samer')
print(names)

['a', 'b', 'c']
['badr', 'ali', 'ahmed', 'mohamed', 'body', 'body', 'body', ['a', 'b', 'c'], 'Ali', 'samer']

In [13]:
names[7]

['a', 'b', 'c']

In [15]:
# extend takes a list as an argument and appends all of the elements:
# What is the output?
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']

#t1.append(t2)
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [16]:
# Inserting Elements into a List
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(2,"ducati")
motorcycles

['honda', 'yamaha', 'ducati', 'suzuki']

In [17]:
# Removing an Item Using the del Statement
del motorcycles[0]
motorcycles

['yamaha', 'ducati', 'suzuki']

In [18]:
# Removing an Item Using the pop() Method
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
names_popped=names.pop()
print(names_popped)
print(names)

mohamed
['mahmoud', 'ali', 'ahmed']

In [19]:
# What is the output?
motorcycles = ['honda', 'yamaha', 'suzuki']
popped_motorcycle = motorcycles.pop()
print(popped_motorcycle)

suzuki

In [6]:
# Removing an Item by Value
name=["mahmoud","ali","ahmed","mohamed","ali","mohamed"]
name.remove("ali")
name

['mahmoud', 'ahmed', 'mohamed', 'ali', 'mohamed']

In [3]:
# Organizing a List
# What is the output?
numbers = [5, 3, 1, 4,2]
# numbers.sort()
# print(numbers)
# numbers.sort(reverse=True)
print(numbers)

[5, 3, 1, 4, 2]

In [4]:
numbers.reverse()
print(numbers)

[2, 4, 1, 3, 5]

Notice that reverse() doesn’t sort backward.

In [7]:
# Sorting a list of strings
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
names.sort()
print(names)

['ahmed', 'ali', 'mahmoud', 'mohamed']

In [8]:
#Finding the Length of a List
len(names)

4

In [39]:
# Avoiding Index Errors When Working with Lists
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[4])

IndexError: list index out of range

In [ ]:
# Print the items inside the list one by one
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[0])
print(names[1])
print(names[2])
print(names[3])

In [10]:
#Looping Through an Entire List
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
for name in names:
    print(name)

mahmoud
ali
ahmed
mohamed

In [37]:
# Doing Something After a for Loop
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

for name in names:
    print(name)

print('the end')

mahmoud
ali
ahmed
mohamed
the end

In [42]:
# Making Numerical Lists Using range function
# What is the output?
numbers = list(range(1, 20)) 
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [38]:
# Create a list of even numbers starting at 2 till 10 (included)
even_nums= list(range( 2,11,2))
even_nums

[2, 4, 6, 8, 10]

In [41]:
# We can use the "range" function with "for" loop
# What is the output?
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [42]:
# Quiz 
# create a list of squares from 1 to 10 numbers

# Solution
list_append=[]
for num in range(1,11):
    list_append.append(num**2)
list_append

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
squars=[x**2 for x in range(1,11)]
squars

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

<details><summary><h4>Quiz Solution</h4></summary>

```python
squares = [x**2 for x in range(1, 11)]
print(squares)
```

</details>

In [44]:
# Simple Statistics with a List of Numbers
# What is the output?
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(min(digits))

print(max(digits))

print(sum(digits))

0
9
45

In [45]:
# List Comprehensions
# What is the output?
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# List of even numbers from 1 to 20
evens=[x for x in range(0,21,2)]
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [52]:
even_num=[x for x in range(0,21,2) if x%2==0]
even_num

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [53]:
# List of coordinate pairs in a 3x3 grid
coordinate=[(x,y) for x in range(0,3)
    for y in range(0,3)]
print(coordinate)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [15]:
# Multiplication table from 1 to 10
# Print the table with messages
for y in range(1, 11):
    for x in range(1, 11):
        print(f"{x} x {y} = {x * y}")
    print()  # Blank line between rows

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [14]:
squares = []
for value in range(1, 11):
      squares.append(value ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Try It Yourself**


3.1 Guest List: If you could invite anyone, living or deceased, to dinner, who would you invite? 
Make a list that includes at least three people you’d like to invite to dinner. Then use your list to print a message to each person, inviting them to dinner.

In [28]:
people=["ahmed","ali","anas"]
for x in people:
    print(f"welcome to dinner {x}")

welcome to dinner ahmed
welcome to dinner ali
welcome to dinner anas

3.2 Changing Guest List: You just heard that one of your guests can’t make the dinner, so you need to send out a new set of invitations. You’ll have to think of someone else to invite. 
Start with your program from Exercise 3.1. Add a print() call at the end of your program stating the name of the guest who can’t make it. 
Modify your list, replacing the name of the guest who can’t make it with the name of the new person you are inviting. 
Print a second set of invitation messages, one for each person who is still in your list.

In [29]:
people[2]="body"
for x in people:
    print(f"welcome to dinner {x}")

welcome to dinner ahmed
welcome to dinner ali
welcome to dinner body

3.3 More Guests: You just found a bigger dinner table, so now more space is available. Think of three more guests to invite to dinner.

In [31]:
people.append("hossam")
people.append("sayed")
people.append("samy")
for x in people:
    print(f"welcome to dinner {x}")

welcome to dinner ahmed
welcome to dinner ali
welcome to dinner body
welcome to dinner hossam
welcome to dinner sayed
welcome to dinner samy



Start with your program from Exercise 3.1 or Exercise 3.2. Add a print() call to the end of your program informing people that you found a bigger dinner table. 
Use insert() to add one new guest to the beginning of your list.


Use insert() to add one new guest to the middle of your list. 


Use append() to add one new guest to the end of your list. 


Print a new set of invitation messages, one for each person in your list

In [32]:
people.insert(3,"shawky")
people.append("mohamed")
for x in people:
    print(f"welcome to dinner {x}")

welcome to dinner ahmed
welcome to dinner ali
welcome to dinner body
welcome to dinner shawky
welcome to dinner hossam
welcome to dinner sayed
welcome to dinner samy
welcome to dinner mohamed